/* header.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background: #e3e6f3a7;
    backdrop-filter: blur(30px);
}
  
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.7s;
}
  
.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
  
.navbar li a {
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    color: #1a1a1a;
    transition: 0.3s ease;
}
  
.navbar li a:hover,
.navbar li a.active {
    color: cyan;
}
  
.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: skyblue;
    position: absolute;
    bottom: -4px;
    left: 20px;
}